<section class="my-10 mx-8 text-gray-300 md:my-16 md:mx-16 lg:mx-20 2xl:mx-32" id="bio">
    <h2 class="text-2xl font-bold mb-8 text-center lg:text-3xl md:mb-12">Crafting digital dreams with code</h2>
    <div class="flex flex-col md:flex-row">
        <div class=" md:w-1/2 flex mb-8 justify-center">
            <img src="/img/rounded-profile.png" alt="" class="w-auto h-40 md:h-60 lg:h-80">
        </div>
        <div class=" md:w-1/2 lg:w-full lg:mx-auto">
            <h3 class="my-1 lg:my-3 lg:text-xl">Fullstack Alchemist</h3>
            <p class="mb-8 text-sm lg:mb-12 xl:text-md">Creating jaw-dropping applications that transform businesses and captivate users.</p>
            <h3 class="my-1 lg:my-3 lg:text-xl">Code Connoisseur</h3>
            <p class="mb-8 text-sm lg:mb-12 xl:text-md">Always pushing the boundaries of tech and innovation.</p>
            <h3 class="my-1 lg:my-3 lg:text-xl">Rapid Problem-solving</h3>
            <p class="mb-8 text-sm lg:mb-12 xl:text-md">Finds unique solutions to tackle even the toughest challenges.</p>
        </div>
    </div>
</section>