<section class="text-center text-gray-300 mb-4">
    <div class="mb-2">
        <a href="www.linkedin.com/in/galih-erlangga" class="mx-2"><i class="fab fa-linkedin text-xl"></i></a>
        <a href="https://instagram.com/galih_erlangga" target="_blank" class="mx-2"><i class="fab fa-instagram text-xl"></i></a>
    </div>
    <p class="text-sm">© All Rights Reserved</p>
</section>